Repository chef/chef-telemetry, pull requests merged in 2019-12, with the labels that each got.

#20 Trying to appease dependabot
  Gemfile
Labels: Expeditor: Skip All, Type: Chore

#21 Adding ruby 2.7 testing
  .expeditor/verify.pipeline.yml
Labels: Expeditor: Skip Version Bump

#19 Added Chef:: namespacing and corresponding file renaming (again)
  chef-telemetry.gemspec
  lib/chef/telemeter.rb
  lib/chef/telemeter/sender.rb
  lib/chef/telemetry.rb
  lib/chef/telemetry/client.rb
  lib/chef/telemetry/decision.rb
  lib/chef/telemetry/event.rb
  lib/chef/telemetry/session.rb
  lib/chef/telemetry/version.rb
  lib/telemeter.rb
  lib/telemeter/sender.rb
  lib/telemetry.rb
  lib/telemetry/client.rb
  lib/telemetry/decision.rb
  lib/telemetry/event.rb
  lib/telemetry/session.rb
  lib/telemetry/version.rb
  spec/client_spec.rb
  spec/decision_spec.rb
  spec/event_spec.rb
  spec/session_spec.rb
  spec/spec_helper.rb
  spec/telemeter/sender_spec.rb
  spec/telemeter_spec.rb
  spec/telemetry_spec.rb
Labels: Expeditor: Bump Version Major

#22 Fixed path on version updater.
  .expeditor/update_version.sh
Labels: Expeditor: Bump Version Major
